<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius consectetur minima alias, maiores recusandae dolore rerum. Numquam unde iure corrupti!</p>
    </div>
</section>